body {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px !important;
    background-color: #121212 !important;
}
h1 {
    font-size: 40px;
    color:rgb(255, 106, 0) !important;
}

#maxNum {
    height: 39.84px;
    border-radius: 10px;
    
}
#maxNum :hover {
    border: 2px solid blue;
}

#message {
    color: wheat;
}

#message2 {
    color: wheat;
}

#submitGuessBtn {
    background-color: #51a9f1;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
}

#maxButton {
    background-color: rgb(2, 120, 4);
    color: white;
    border-radius: 10px;
    padding: 6px 12px;
}

#guessNum {
    height: 39.84px;
    border-radius: 10px;
}

#quit {
    background-color: red;
    padding: 6px 12px;
    border-radius: 10px;
}